.venv
.idea
test.py
convert/convert.py
datasets
models
data_for_processing/marker
data_for_processing/input_img
data_for_processing/img_return
runs
train
old
requirements.txt
.env
__pycache__
bot RIP/__pycache__
requirements локально.txt
/home/sir/All/Projects/observer/checking_planogram/__pycache__/compliance_palnogram.cpython-311.pyc
