# Ядро (на NVIDIA сервере pip сам поставит нужные версии)
torch
torchvision
torchaudio
ultralytics

# Зрение и данные
opencv-python
numpy
scikit-learn
pandas
openpyxl

# Инструменты проекта
aiogram
python-dotenv
tqdm
labelme2yolo